/************************** TAG selectors **************************/

body {
	background-color: grey;
}

/************************* Class selectors *************************/
.div_titel {
	border: solid;
}

.div_footerMenu a {
	color: black;
	font-family: system-ui;
	text-decoration: none;
	transition: .75s;
}

.div_footerMenu a:hover {
	color: white;
	background-color: black;
	transition: .75s;
}

.div_footerMenu {
	color: black;
	font: italic bold 32px cursive;
}
